body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #e0f7fa;
}

.container {
    text-align: center;
    min-width: 50vw;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #00796b;
    margin-bottom: 20px;
}

form {
    margin-bottom: 20px;
}

input {
    padding: 10px;
    margin: 10px 0;
    font-size: 16px;
    border: 1px solid #00796b;
    border-radius: 5px;
    width: 100px;
    text-align: center;
}

button {
    padding: 10px 20px;
    margin-top: 10px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #00796b;
    color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #004d40;
}

button:disabled {
    background-color: #b2dfdb;
    cursor: not-allowed;
}

#resultado {
    margin-top: 20px;
    font-size: 200px;
    font-weight: bold;
    color: #00796b;
}
